<form action="">
  <div>
    <input type="text" name="title" id="Title" placeholder="title" />
  </div>
  <div>
    <textarea name="content" id="Content" cols="30" rows="10"></textarea>
  </div>
  <button type="submit">Save post</button>
</form>